# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build and Distribution
build/
dist/
*.egg-info/

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/